.content-container {
  width: 700px;
  margin: 0 auto;
  position: relative;
}

.overlay {
  background: rgb(0, 0, 0);
  position: absolute;
  left: 10px;
  top: 10px;
  opacity: 0.5;
  width: 400px;
  height: 400px;
  line-height: 400px;
}

.overlay .game-over{
  text-align: center;
  opacity: 1.0;
  color: black;
  font-size: 64px;
  height: 70px;
  margin: 0;
}

canvas {
  position: absolute;
  border: 10px solid black;
  border-radius: 10px;
}

.status-container {
  float: right;
}
