.content-container {
  width: 900px;
  height: 450px;
  margin: 0 auto;
  position: relative;
}

.status-container {
  float: right;
  width: 200px;
}

.game-container {
  position: absolute;
  width: 450px;
  height: 450px;
}

.game-container .board-row {
  height: 100px;
  border-bottom: 10px solid black;
}

.board-row:first-child {
  margin-top: 10px;
}

.board-row .board-spot {
  float: left;
  width: 100px;
  height: inherit;
  border-right: 10px solid black;
}

.board-spot:first-child {
  margin-left: 10px;
}

/*----------------------------------------------------------- */
.tile-container {
  position: absolute;
  z-index: 3;
  border: 10px solid black;
  width: 430px;
  height: 430px;
}

.tile-container:after {
  content: "";
  display: block;
  clear: both;
}

.tile {
  position: absolute;
  text-align: center;
  width: 100px;
  height: 100px;
  line-height: 100px;
  -webkit-transition: 150ms ease-in-out;
  -moz-transition: 150ms ease-in-out;
  transition: 150ms ease-in-out;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  transition-property: transform, background-color;
  font-size: 40px;
}

.tile.val-2 {
  background-color: rgb(255, 0, 0);
}

.tile.val-2:after {
  content: "2";
}

.tile.val-4 {
  background-color: rgb(255, 128, 0);
}

.tile.val-4:after {
  content: "4";
}

.tile.val-8 {
  background-color: rgb(255, 255, 0);
}

.tile.val-8:after {
  content: "8";
}

.tile.val-16 {
  background-color: rgb(128, 255, 0);
}

.tile.val-16:after {
  content: "16";
}

.tile.val-32 {
  background-color: rgb(0, 255, 0);
}

.tile.val-32:after {
  content: "32";
}

.tile.val-64 {
  background-color: rgb(0, 255, 128);
}

.tile.val-64:after {
  content: "64";
}

.tile.val-128 {
  background-color: rgb(0, 255, 255);
}

.tile.val-128:after {
  content: "128";
}

.tile.val-256 {
  background-color: rgb(0, 128, 255);
}

.tile.val-256:after {
  content: "256";
}

.tile.val-512 {
  background-color: rgb(0, 0, 255);
}

.tile.val-512:after {
  content: "512";
}

.tile.val-1024 {
  background-color: rgb(128, 0, 255);
}

.tile.val-1024:after {
  content: "1024";
}

.tile.val-2048 {
  background-color: rgb(255, 0, 255);
}

.tile.val-2048:after {
  content: "2048";
}

.tile-container .tile.new {
  -webkit-animation: appear 150ms ease 150ms;
  -moz-animation: appear 150ms ease 150ms;
  animation: appear 150ms ease 150ms;
  -webkit-animation-fill-mode: backwards;
  -moz-animation-fill-mode: backwards;
  animation-fill-mode: backwards; }

.tile.pos-0-0 {
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.tile.pos-0-1 {
  -webkit-transform: translate(0px, 110px);
  -moz-transform: translate(0px, 110px);
  transform: translate(0px, 110px);
}

.tile.pos-0-2 {
  -webkit-transform: translate(0px, 220px);
  -moz-transform: translate(0px, 220px);
  transform: translate(0px, 220px);
}

.tile.pos-0-3 {
  -webkit-transform: translate(0px, 330px);
  -moz-transform: translate(0px, 330px);
  transform: translate(0px, 330px);
}

.tile.pos-1-0 {
  -webkit-transform: translate(110px, 0px);
  -moz-transform: translate(110px, 0px);
  transform: translate(110px, 0px);
}

.tile.pos-1-1 {
  -webkit-transform: translate(110px, 110px);
  -moz-transform: translate(110px, 110px);
  transform: translate(110px, 110px);
}

.tile.pos-1-2 {
  -webkit-transform: translate(110px, 220px);
  -moz-transform: translate(110px, 220px);
  transform: translate(110px, 220px);
}

.tile.pos-1-3 {
  -webkit-transform: translate(110px, 330px);
  -moz-transform: translate(110px, 330px);
  transform: translate(110px, 330px);
}

.tile.pos-2-0 {
  -webkit-transform: translate(220px, 0px);
  -moz-transform: translate(220px, 0px);
  transform: translate(220px, 0px);
}

.tile.pos-2-1 {
  -webkit-transform: translate(220px, 110px);
  -moz-transform: translate(220px, 110px);
  transform: translate(220px, 110px);
}

.tile.pos-2-2 {
  -webkit-transform: translate(220px, 220px);
  -moz-transform: translate(220px, 220px);
  transform: translate(220px, 220px);
}

.tile.pos-2-3 {
  -webkit-transform: translate(220px, 330px);
  -moz-transform: translate(220px, 330px);
  transform: translate(220px, 330px);
}

.tile.pos-3-0 {
  -webkit-transform: translate(330px, 0px);
  -moz-transform: translate(330px, 0px);
  transform: translate(330px, 0px);
}

.tile.pos-3-1 {
  -webkit-transform: translate(330px, 110px);
  -moz-transform: translate(330px, 110px);
  transform: translate(330px, 110px);
}

.tile.pos-3-2 {
  -webkit-transform: translate(330px, 220px);
  -moz-transform: translate(330px, 220px);
  transform: translate(330px, 220px);
}

.tile.pos-3-3 {
  -webkit-transform: translate(330px, 330px);
  -moz-transform: translate(330px, 330px);
  transform: translate(330px, 330px);
}
